PORT=8000
MONGODB_URI:mongodb+srv://harsh:your-password@cluster0.lpyoghj.mongodb.net

ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CORS_ORIGIN=*